################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/BillBeeApiSDK/v15
/Billbee.Api.Client.Demo/Config.json
/.vs
bin/
obj/
